<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
  </head>
  <body>

    <responsive-child>
      <div class="container featured">
        <div class="flex-container">
          <i class="fa previous fa-chevron-left"></i>
          <div class="text">
            <div class="index"></div>
            <div class="caption"></div>
          </div>
          <i class="fa next fa-chevron-right"></i>
          <i class="fa rewind fa-undo"></i>
        </div>
        
        <div class="image">
          <img class="img visible img-0" src="./assets/1_1851-treaty-lands.jpg">
          <img class="img img-1" src="./assets/2_1868-treaty-lands.jpg">
          <img class="img img-2" src="./assets/3_1877-treaty-lands.jpg">
          <img class="img img-3" src="./assets/4_1889-treaty-lands.jpg">
          <img class="img img-4" src="./assets/5_lands-lost-to-flooding.jpg">
          <img class="img img-5" src="./assets/6_Current-Sioux-lands.jpg">
        </div>
        
        <div class="source">Sources: Joseph Smith, Land Management Director, Standing Rock Sioux Tribe</div>
        <div class="source">www.villageearth.org, www.nwo.usace.army.mil, www.indians.org, www.history.nd.gov, www.history.sd.gov</div>
        <div class="credit">MARK NOWLIN and AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>
    </responsive-child>

    <script>
      var data = <%= JSON.stringify(csv.images) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
